body {
  background: black;
  color: white;
}

#header-image {
  max-width: 100%;
  height: auto;

}

nav {
  display: block;
}

a{
  text-decoration: none;
  color: lightblue
}

a:hover {
  color: white;
}
